%ul#slides-links
  %li
    %h2.tour Tour
  %li= link_to "What exactly is Sir FindALot?", "#slide_start"
  %li= link_to "Find the best parking area", "#slide_ramp"
  %li= link_to "Find a free lot with ease", "#slide_map"
  %li= link_to "Display details", "#slide_infos"
  
#slides
  #slide_start.slide
    #start-sir
      .speech_bubble.bottom_triangle
        I'm eager to help you find a free lot!
      = image_tag 'mobile/sir_options.png', :id => 'img_carl', :alt => "Carl and Sir FindALot"
    %h2 Sir FindALot turns finding a lot into fun
    %p
      %b Sir FindALot
      is a webapplication with the goal to guide you while your are searching for a free lot.
      It determines all relevant parking areas based on your current position (
      %b Geolocation
      ). Of course
      you may issue a specific custom search for a certain parking area. In addition, 
      %b Sir FindALot
      keeps track of your history and usage pattern and tries to provide you with the best results
      based on this information.
    
    .phrase
      »Don't worry. If you struggle to find a free lot in the same place every monday morning, Sir FindAlot
      already knows about it and offers his help.«
    
    %p
      Not only does it help you find a parking area near you,
      %b Sir FindALot
      is able to guide you to a free lot within a particular parking area. Moreover it determines the
      most favorable level in multi-level parking spaces. Continue the tour to learn more about those features.
    
  #slide_ramp.slide
    .screen
      = image_tag 'phones/shot_000002.png', :class => "screen-image"
      = image_tag 'phones/nexus.png', :class => "device-nexus"
    %h2 Automatic geolocation-based search
    %p
      As you navigate to SirFindLot with your mobile phone, the search for parkingareas
      near you, is automatically started.
      The results of that search are ranked
      by the distance to the parking areas and previoussly submitted searches.
    %p
      .phrase
        »Finding your parking area made as easy as possible.«
        
    %h2 Custom search
    %p
      If your device can't geolocate you, you may use the custom search. Just enter some 
      keywords and find your parking area.
    .clear
  #slide_map.slide
    .screen
      = image_tag 'phones/shot_000006.png', :class => "screen-image"
      = image_tag 'phones/nexus.png', :class => "device-nexus"
    %h2 Select the best lot
    %p
      Sir FindALot suggests you some lots for you. It's your turn to choose the right one.
    %p
      .phrase
        »It's up on you to choose the very best lot.«
    .clear
  #slide_infos.slide
    .screen
      = image_tag 'phones/shot_000007.png', :class => "screen-image"
      = image_tag 'phones/nexus.png', :class => "device-nexus"
    %h2 In case you need information...
    %p
      Sir FindALot provides additional information about the parkingarea. Find out
      about pricing and opening hours of the parking area. Let the information be yours.
    .clear
