%ul#slides-links
  %li
    %h2.tour Tour
  %li= link_to "What or who exactly is Sir FindALot?", "#slide_start"
  %li= link_to "Find the best parking area", "#slide_ramp"
  %li= link_to "Find a free lot with ease", "#slide_map"
  %li= link_to "Display even more details", "#slide_infos"
  
#slides
  #slide_start.slide
    #start-sir
      .speech_bubble.bottom_triangle
        I'm eager to help you find a free lot!
      = image_tag 'mobile/sir_options.png', :id => 'img_carl', :alt => "Carl and Sir FindALot"
    %h2 Sir FindALot turns finding a lot into fun
    %p
      %b Sir FindALot
      is a webapplication with the goal to guide and provide you with information during your search for a free lot.
      It determines all relevant parking areas based on your current position (
      %b Geolocation
      ). Of course
      you may issue a specific custom search for a certain parking area. In addition, 
      %b Sir FindALot
      keeps track of your history and usage pattern and tries to provide you with the best results
      based on this information.
    
    .phrase
      »Don't worry. If you struggle to find a free lot in the same place every monday morning, Sir FindAlot
      already knows about it and offers his help.«
    
    %p
      Not only does it help you find a parking area near you,
      %b Sir FindALot
      is able to guide you to a free lot within a particular parking area. Moreover it determines the
      most favorable level in multi-level parking spaces. Continue the tour to learn more about those features.
    
  #slide_ramp.slide
    .screen
      = image_tag 'phones/shot_000002.png', :class => "screen-image"
      = image_tag 'phones/nexus.png', :class => "device-nexus"
    %h2 Automatic geolocation-based search
    %p
      As you navigate to 
      %b Sir FindALot
      with your mobile device, the search for parking areas
      near you is started automatically.
      The results of this particular search are ranked
      by the distance to the parking areas and your previous usage-pattern and issued searches.
    %p
      .phrase
        »Finding a parking area near you should be as easy as possible.«
        
    %h2 Custom search
    %p
      If for some reason
      %b Sir FindALot
      fails to determine your current position or you are unsatisified with its results, you may still issue a custom search query.
      Just enter some keywords and find your parking area.
    .clear
  #slide_map.slide
    .screen
      = image_tag 'phones/shot_000006.png', :class => "screen-image"
      = image_tag 'phones/nexus.png', :class => "device-nexus"
    %h2 Finding a free lot
    %p
      After you have chosen a particular parking area,
      %b Sir FindALot
      presents all levels and their current occupancy in multi-level parking areas. You may also view a detailed map
      of each level which provides visual information about free lots or where special lots for women or disabled persons are situated.
    %p
      In addition,
      %b Sir FindALot
      marks the most favorable level und lots to make your life as easy as possible.
    .phrase
      It's a breeze!
    .clear
  #slide_infos.slide
    .screen
      = image_tag 'phones/shot_000007.png', :class => "screen-image"
      = image_tag 'phones/nexus.png', :class => "device-nexus"
    %h2 In case you need even more information
    %p
      In case you need even more detailed information about a specific parking area,
      %b Sir FindALot
      has compiled a exhaustive details page.
      Find out about pricing and opening hours or the current status.
      
    .phrase
      If for some reason your desired parking area is closed Sir FindAlot will know about it!
      
    .clear
