= form_for @stat do |f|
  -if @stat.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stat.errors.count, "error")} prohibited this stat from being saved:"
      %ul
        - @stat.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :parkingplane_id
    = f.number_field :parkingplane_id
  .field
    = f.label :lots_total
    = f.number_field :lots_total
  .field
    = f.label :lots_taken
    = f.number_field :lots_taken
  .actions
    = f.submit 'Save'
