%p#notice= notice

%p
  %b Name:
  = @parkingramp.name
%p
  %b Operator:
  = @parkingramp.operator_id
%p
  %b Category:
  = @parkingramp.category
%p
  %b Info status:
  = @parkingramp.info_status
%p
  %b Info pricing:
  = @parkingramp.info_pricing
%p
  %b Info openinghours:
  = @parkingramp.info_openinghours
%p
  %b Info address:
  = @parkingramp.info_address
%p
  %b Latitude:
  = @parkingramp.latitude
%p
  %b Longitude:
  = @parkingramp.longitude

= link_to 'Edit', edit_admin_parkingramp_path(@parkingramp)
\|
= link_to 'Back', admin_parkingramps_path
